#error-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10vh;
  font-size: 20px;
  text-transform: uppercase;

  a {
    margin-top: 25px;
  }
}