@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  list-style: none;
  background: #fff;
}
body {
  width: 95%;
  margin: 0 auto;
}

:root {
  --lightBlue: #91d7f2;
  --darkBlue: #5196a6;
  --light: #f2f0eb;
  --redColor: #f2594b;
  --lightText: rgb(126, 125, 125);
}
